# Ignore the following...

# Vim's swap files
*.sw*

# LaTeX log, aux, and pdf
**/write_up/*.log
**/write_up/*.aux
**/write_up/*.pdf

# Any build directory
**/build

# The testing in tet_convergence
tet_convergence/testing

# The fenics results
fenics_benchmarking/beam
