# Ignore the following...

# Vim's swap files
*.sw*

# LaTeX log, aux, and pdf
**/*write_up/*.log
**/*write_up/*.aux
**/*write_up/*.pdf

# The workspace in write_up
**/write_up/workspace

# Any workspace
**/workspace

# Any build directory
**/build

# The testing in tet_convergence
tet_convergence/testing

# The fenics results
fenics_benchmarking/results*

# Hidden files
.*
## But not itself!
!.gitignore

# Result exodus files
*result*.e

# Fenics Benchmarking Plots
fenics_benchmarking/plots

# ESP's port journals
port*.jrnl

# Gmsh's .msh files
*.msh

# Any png pictures
*.png
*.PNG

# Any exodus files
*.exo
*.exo.*

# Any cubit meshes
*.g

# Any csv files
*.csv

# Any open office presentations
*.odp

# Any vtk file
*.vtk

# Any step files
*.stp

# Any stl files
*.stl

# Any avi files
*.avi

# The old run results for hype_2020 conference
hypersonics_2020/panel/plate_no_stiffeners_with_creep/25s_for_conference
